.Navbar-wrapper{
    display: flex;
    background: rgba(217, 14, 0, 1);
    position: sticky;
    top: 0px;
    padding: 10px;
}
.Navbar-logo-wrapper{
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
}
.Navbar-logo{
    width: 60px;
    height: 60px;
    background: rgba(217, 14, 0, 0);
    animation-name: rotateAtom;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 1.2s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.Navbar-content{
    list-style-type: none;
    display: flex;
    flex-basis: 80%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.Navbar-links-wrapper{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}
.Navbar-links-wrapper a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
@keyframes rotateAtom{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
